<p id="notice"><%= notice %></p>

<p>
  <b>Districtname:</b>
  <%= @district.districtName %>
</p>

<p>
  <b>Districtsynomyms:</b>
  <%= @district.districtSynomyms %>
</p>


<%= link_to 'Edit', edit_district_path(@district) %> |
<%= link_to 'Back', districts_path %>
