<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cateName %><br />
    <%= f.text_field :cateName %>
  </div>
  <div class="field">
    <%= f.label :cateType %><br />
    <%= f.select :cateType, options_for_select([["Thuc An", "0"], ["Thuc Uong", "1"]]) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
