<p id="notice"><%= notice %></p>

<p>
  <b>Catename:</b>
  <%= @category.cateName %>
</p>

<p>
  <b>Catetype:</b>
  <%= @category.cateType %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
